apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: toolchain-operator
rules:
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  - operatorgroups
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  - clusterserviceversions
  - installplans
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - toolchain.openshift.dev
  resources:
  - installconfigs/finalizers
  verbs:
  - update