apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: toolchain-operator
rules:
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  - operatorgroups
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  - clusterserviceversions
  - installplans
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions/finalizers
  verbs:
  - update
- apiGroups:
  - org.eclipse.che
  resources:
  - checlusters
  verbs:
  - get
  - create
  - list
  - watch
  - delete
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - toolchain.openshift.dev
  resources:
  - cheinstallations/finalizers
  - tektoninstallations/finalizers
  verbs:
  - update
- apiGroups:
  - toolchain.openshift.dev
  resources:
  - cheinstallations
  - tektoninstallations
  - cheinstallations/status
  - tektoninstallations/status
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - toolchain-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
