apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: toolchain-operator
rules:
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  - operatorgroups
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  - clusterserviceversions
  - installplans
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - org.eclipse.che
  resources:
  - checlusters
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - create
  - list
  - watch
- apiGroups:
  - toolchain.openshift.dev
  resources:
  - cheinstallations/finalizers
  - tektoninstallations/finalizers
  verbs:
  - update
- apiGroups:
  - toolchain.openshift.dev
  resources:
  - cheinstallations
  - tektoninstallations
  - cheinstallations/status
  - tektoninstallations/status
  verbs:
  - '*'
